<link rel="stylesheet" href="/app/css/about.css">
<div class="resume-wrapper">
    <section class="profile section-padding">
        <div class="container" style="width: initial;   ">
            <div class="picture-resume-wrapper">
                <div class="picture-resume">
                    <span><img src="http://placehold.it/128x128" alt="Kshitij Nagvekar Profile Pic" /></span>
                    <svg version="1.1" viewBox="0 0 350 350">
                        <defs>
                            <filter id="goo">
                                <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
                                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -9" result="cm" />
                            </filter>
                        </defs>
                        <g filter="url(#goo)" >
                            <circle id="main_circle" class="st0" cx="175.5" cy="175.5" r="130"/>
                        </g>
                    </svg>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="name-wrapper">
                <h1>Kshitij <br/>Nagvekar</h1>
            </div>
            <div class="clearfix"></div>
            <div class="contact-info clearfix">
                <ul class="list-titles">
                    <li>Phone</li>
                    <li>Mail</li>
                    <li>Web</li>
                    <li>Home</li>
                </ul>
                <ul class="list-content ">
                    <li>+91 77738 122781</li>
                    <li>ksnagvekar@gmail.com</li>
                    <li><a href="#">hxworld.xyz</a></li>
                    <li>Mumbai, MH, IN</li>
                </ul>
            </div>
            <div class="contact-presentation">
                <p>Hi, My name is Kshitij Nagvekar. I'm a web developer and an Android app developer who lives in Mumbai, MH, India. I'm currently pursuing Bachelor of Engineering (Information Technology) degree at Sardar Patel Institute of Technology. I also work part time at <a href="http://www.waltado.com/">Waltado</a>. I will be doing my summer internship at <a href="http://www.workindia.in/">WorkIndia</a> in June 2016.</p>
            </div>
            <div class="contact-social clearfix">
                <ul class="list-titles">
                    <li>GitHub</li>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                    <li>Facebook</li>
                </ul>
                <ul class="list-content">
                    <li><a href="https://github.com/nogoodusername">nogoodusername</a></li>
                    <li><a href="https://www.linkedin.com/in/kshitijnagvekar">kshitijnagvekar</a></li>
                    <li><a href="https://twitter.com/hackergnom3">@hackergnom3</a></li>
                    <li><a href="http://facebook.com/KshitijNagvekar">KshitijNagvekar</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="experience section-padding">
        <div>
            <h3 class="experience-title">Projects</h3>

            <div class="experience-wrapper">
                <div class="company-wrapper clearfix">
                    <!--<div class="experience-title">BookMyEvents Android App</div>-->
                    <div class="time">March 2016 - Present</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title">BookMyEvents Android App</div>
                    <div class="company-description">
                        <p>This is my academic project for Software Engineering subject of SEM VI BE-IT. The app lets users book local events and allows organizers to add their events to the events listing. <a href="https://bitbucket.org/hackergnom3/se-event-manager">BitBucket</a></p>
                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="time">March 2016 - Present</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title">CodeTimeline Android App</div>
                    <div class="company-description">
                        <p>This is my personal project. The android app shows upcoming coding challenges hosted on hackerrank, codechef, codeforces, etc. <a href="https://github.com/nogoodusername/CodeTimeline">GitHub</a></p>
                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="time">Feb 2016 - April 2016</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title">HappyBox Cloud Storage Website</div>
                    <div class="company-description">
                        <p>Waltado Intern job - adding features (such as oAuth2 login/Torrent download) and fixing bugs of the HappyBox project.</p>
                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="time">Aug 2015 - Sep 2015</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title"> MyDietist Android App</div>
                    <div class="company-description">
                        <p>Waltado Intern job - adding features and fixing bugs of the current implementation of phonegap based android app of myDIETist.com.</p>
                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="time">Aug 2015</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title">Matrix 2015 Android App</div>
                    <div class="company-description">
                        <p>An android app for the techfest of Sardar Patel Institute of Technology. <a href="https://play.google.com/store/apps/details?id=com.spit.matrix15&hl=en">PlayStore</a> </p>
                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="time">June 2015</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title">XMPP Web Chat client</div>
                    <div class="company-description">
                        <p>Chat client for Finhancer which allows one-to-one real time messaging using openfire XMPP server.</p>
                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="time">March  2015</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="experience-title">HXWORLD Blog Site</div>
                    <div class="company-description">
                        <p>A Blog site with backend written in PHP <a href="www.hxworld.xyz/beta">hxworld.xyz/beta</a></p>
                    </div>
                </div>

            </div>

            <div class="section-wrapper clearfix">
                <h3 class="section-title">Skills</h3>
                <ul>
                    <li class="skill-percentage">C / C++</li>
                    <li class="skill-percentage">JAVA</li>
                    <li class="skill-percentage">Python</li>
                    <li class="skill-percentage">HTML / CSS / JavaScript</li>
                    <li class="skill-percentage">PHP</li>
                    <li class="skill-percentage">Photoshop</li>
                </ul>

            </div>

            <div class="section-wrapper clearfix">
                <h3 class="section-title">Achievements</h3>
                <ul class="list-titles">
                    <li>Technical Head @ IEEE SP '15-'16</li>
                    <li>Ex-Recognized Contributor @ xda-developers.com</li>
                    <li>Top 10% rank in India in IEEEXtreme 9.0 Programming Challenge</li>
                    <li>Cleared Round #2 of TCS CodeVita 2015</li>
                    <li>Organized Throttle coding challenge at Matrix (SPIT TechFest)</li>
                    <li>Organized IEEE 2pi Ethical Hacking workshop in 2015 & in 2016 at SPCE-SPIT</li>
                </ul>
            </div>

        </div>
    </section>

    <div class="clearfix"></div>
</div>